body {
  margin: 30vh;
  padding: 0;
  font-family: "Montserrat", sans-serif; /* Use a similar font style */
  background-image: url("https://swagat04.github.io/Hall-day-Invitation/pink-and-blue-background-am3tr621dcwapybh.jpg"); /* Replace with your background image path */ 
  background-size: cover; /* Stretch background to fill viewport */
  background-position: center; /* Center the background image */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Occupy full viewport height */
}

.invitation {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  color: #ffffff; /* Dark gray text (optional) */
  text-align: center;
  margin-bottom: 2rem;
  animation: entrance 10s ease-in-out forwards;
}

@keyframes entrance {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.text-box {
  color: #ffffff;
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  background-color: #94a3b242; /* White text box background */
  padding: 2rem; /* Add padding for content */
  border-radius: 30px; /* Rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.51); /* Subtle shadow effect */
  animation: textbox-appear 3s ease-in-out forwards;
}

@keyframes textbox-appear {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
